{% extends 'base.html' %}
{% load static %}


{% block body %}

<div class="mb-5" style="margin-top: 110px !important; margin: 0 100px;">
    {% for category_with_series in categories_with_series %}
      <div class="row mt-5">
        <h3 class="text-light">{{ category_with_series.category.title }}</h3>
        {% for i in category_with_series.series %}
          <div class="col-md-2 col-4 mt-1 position-relative">
            <button class="btn addlist text-light" data-card-id="1">+</button>
            <a href="#">
              <img src="{{ i.image.url }}" class="w-100" alt="">
            </a>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>

{% endblock body %}